
<mat-toolbar>CS631 University</mat-toolbar>
<mat-card>
<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Student Info</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="reg" class="nav-link">Registration</a>
        </li>
        <li class="nav-item">
          <a routerLink="cls" class="nav-link">Class Listing</a>
        </li>
      </div>
    </nav>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-card>