<mat-card class="example-container">
  <mat-form-field class="full-width">
    <mat-label>Term</mat-label>
    <mat-select [(value)]="selectedterm">
      <mat-option value="Summer 2020">Summer 2020</mat-option>
      <mat-option value="Fall 2020">Fall 2020</mat-option>
      <mat-option value="Spring 2021">Spring 2021</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width" >
    <mat-label>Subject</mat-label>
    <mat-select [(value)]="selectedsubject">
      <mat-option value="CS">Computer Science</mat-option>
      <mat-option value="MATH">Mathematics</mat-option>
      <mat-option value="BIO">Biology</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width"> 
    <mat-label>CS</mat-label >
    <mat-select [(value)]="selectedcs">
      <mat-option value="CS1">Database System</mat-option>
      <mat-option value="CS2">Operating System</mat-option>
      <mat-option value="CS3">Machine Learning</mat-option>
      <mat-option value="CS4">Data Analytics</mat-option>
      <mat-option value="CS5">Deep Learning</mat-option>
      <mat-option value="CS6">Compilers</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width" >
    <mat-label>MATH</mat-label>
    <mat-select [(value)]="selectedmath">
      <mat-option value="MATH1">Linear Analysis</mat-option>
      <mat-option value="MATH2">Statistics</mat-option>
      <mat-option value="MATH3">Regression Analysis</mat-option>
      <mat-option value="MATH4">Statistcs 2</mat-option>
      <mat-option value="MATH5">Math 4</mat-option>
      <mat-option value="MATH6">Math 5</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>SECTION</mat-label>
    <mat-select [(value)]="selectedsection">
      <mat-option value="Sec1">Section 1</mat-option>
      <mat-option value="Sec2">Section 2</mat-option>
      <mat-option value="Sec3">Section 3</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
</mat-card>  
<mat-card>
  <mat-label>SUMARY</mat-label>
  <p>Selected Term: {{selectedterm}}</p>
  <p>Selected Subject: {{selectedsubject}}</p>
  <p>Selected Course: {{selectedcs}}</p>
  <p>Selected Section: {{selectedsection}}</p>
<br>
</mat-card>  
<mat-card>
<div class="example-button-row">
  <button mat-raised-button color="primary">Register</button>
  <button mat-raised-button color="warn">Delete</button>
</div>
</mat-card>