<mat-card>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <mat-select
          type="text"
          class="form-control"
          placeholder="Search by semester"
          [(ngModel)]="semester"
        >
        <mat-option value="semester1">Summer 2020</mat-option>
        <mat-option value="semester2">Fall 2020</mat-option>
        </mat-select>
      </div>
      <div class="col-md-6">
        <h4>Registrations List</h4>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let registration of registrations; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveTutorial(registration, i)"
          >
            {{ registration.semester }} 
            {{ registration.subject }} 
            {{ registration.course }} 
            {{ registration.section }}
          </li>
        </ul>
    
        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
          Remove All
        </button>
      </div>
    </div>
  </div>
</mat-card>