<mat-toolbar color="primary">CS631 University</mat-toolbar>

<mat-card>
<form [formGroup]="idForm" (ngSubmit)="submitHandler()" class="form">
    <p>WELCOME TO THE CS631 UNIVERSITY!</p>
    <h4>Please Enter your Student Id</h4>
    <span>
      <mat-form-field class="form element">
        <mat-label value="sid">Student Id</mat-label>
        <input matInput placeholder="Student Id" formControlName="sid">
      </mat-form-field>
    </span>
    <br>
    <span>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </span>
</form>
<br>
</mat-card>

<br>
<mat-card *ngIf=success>
  <h2>Hello {{mystudent.firstname}} {{mystudent.lastname}}!</h2>
<h4>Please Choose Your Option</h4>
  <mat-tab-group>
  <mat-tab label="Register"><br>
    <app-registration></app-registration>
  </mat-tab>
    <mat-tab label="Class List"><br>
      <app-classlist></app-classlist>
    </mat-tab>
  </mat-tab-group>
</mat-card>
