<form [formGroup]="idForm" class="form">
  <mat-toolbar>CS631 UNIVERSITY</mat-toolbar>
<mat-card>
  <div *ngIf=!success>
      <p>WELCOME TO THE CS631 UNIVERSITY!</p>
      <h4>Please Enter your Student ID</h4>
      <span>
        <mat-form-field class="form element">
          <mat-label value="sid">Student ID</mat-label>
          <input matInput placeholder="Student ID" formControlName="sid">
        </mat-form-field>
      </span>
      <br>
      <span>
        <button mat-raised-button color="primary" (click)="submitHandler()">Submit</button>
      </span>
    </div>

<div *ngIf=success>
    <h2>Hello {{mystudent.firstname}} {{mystudent.lastname}}!</h2>
    <h4>Please Choose Your Option</h4>
    
    <mat-tab-group>
      <mat-tab label="Register"><br>
        <h4>Class Registration</h4>
          <mat-form-field>
            <mat-label>Semester</mat-label>
            <mat-select [(ngModel)]="semester" [ngModelOptions]="{standalone: true}" [(value)]="semester" (ngModelChange)="onSemesterSelection($event)">
              <mat-option value="Summer">Summer</mat-option>
              <mat-option value="Fall">Fall</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select [(ngModel)]="selectedYear" [ngModelOptions]="{standalone: true}" (ngModelChange)="onYearSelection($event)">
              <mat-option value="2020">2020</mat-option>
              <mat-option value="2021">2021</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="departmentValue" [ngModelOptions]="{standalone: true}" name="department" (ngModelChange)="onDeptSelection($event)">
              <mat-option *ngFor="let department of departments" [(value)]="department.code">
                {{department.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field>
            <mat-label>Course</mat-label>
            <mat-select [(ngModel)]="selectedCourse" [ngModelOptions]="{standalone: true}" name="course" (ngModelChange)="onCourseSelection($event)">
              <mat-option *ngFor="let course of courses" [value]="course">
                {{course.name}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
<div *ngIf=courseSelection>
          
  
  <h4>Sections for {{selectedCourse.name}}</h4>
          <table mat-table [dataSource]="sections" class="mat-elevation-z8"> 

            <ng-container matColumnDef="register">
              <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <button mat-raised-button color="primary" (click)="registrationSubmitHandler(element, i)" >Register</button>
                <div class="progress">
                  <mat-progress-spinner *ngIf="processing[i]"
                    class="example-margin"
                    color="warn"
                    mode="indeterminate"
                    diameter="16">
                  </mat-progress-spinner>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Section No</th>
              <td mat-cell *matCellDef="let element"> {{element.id.sectionNo}} </td>
            </ng-container>

            <ng-container matColumnDef="instructor">
              <th mat-header-cell *matHeaderCellDef>Instructor</th>
              <td mat-cell *matCellDef="let element"> {{element.instructor.name}} </td>
            </ng-container>

            <ng-container matColumnDef="counts">
              <th mat-header-cell *matHeaderCellDef>Seats (registered/max)</th>
              <td mat-cell *matCellDef="let element"> {{element.registrationCount}} / {{element.maxEnrollment}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr> 
          </table>
          
        </div>
      </mat-tab>
      <mat-tab label="Class List"><br>
        <app-classlist></app-classlist>
      </mat-tab>
    </mat-tab-group>
    </div>
  </mat-card>
</form>